/* start of header style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 16px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav>li{
    display: inline-block;
    padding: 18px 30px 18px 0px;
    color: #394149;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s all;
}
.header_nav>li:hover{
    color: #1671b1;
}
.nav-btn{
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s all;
}
.nav-btn:hover{
    background: #F58A07;
    color: #fff;
}
/* end of header style */
/* start of main style */
.header-section{
    width: 1165px;
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.header_text>h1{
    color: #1D3444;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    width: 561px;
    margin-bottom: 24px;
}
.header_text>p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.location, .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.location>h1, .contact-us>h1{
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
}
.location>p{
    width: 270px;
}
.location>p, .contact-us>p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.contact-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.input-contact>input{
    background: rgba(210, 218, 237, 0.17);
    padding: 17px 400px 17px 32px;
    border-radius: 31px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
.input-contact-1>input{
    background: rgba(210, 218, 237, 0.17);
    padding: 17px 400px 130px 32px;
    border-radius: 31px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
.maps>img{
    border-radius: 20px;
}
.submit-btn{
    color: #fff;
    background: #F58A07;
    border-radius: 31px;
    padding: 18px 32px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.5s all;
    margin-bottom: 128px;
}
.submit-btn:hover{
    background: #fff;
    color: #F58A07;
}
/* end of main style*/
/* start of footer style */
footer{
    background: #063255;
    height: 463px;
    position: relative;
}
.shape-left{
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-radius: 0px 20px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.shape-right{
    width: 53px;
    height: 287px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 38px;
    right: 0;
}
.footer-top{
    padding: 80px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-left>h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    margin: 32px 0;    
}
.social{
    color: #fff;
    font-size: 20px;
    width: 136px;
    display: flex;
    justify-content: space-between;
}
.company>h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}
.list>ul, li{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: 0.2s all;
}
.list>ul{
    margin-top: 32px;
}
.list>ul>li{
    padding-bottom: 16px;
}
.list>ul>li:hover{
    color: #1671b1;
}
.connect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.connect>h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 32px;
}
.connect>a{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.subscribe>h1{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 24px;
}
.input>input{
    background: #fff;
    padding: 18px 188px 18px 32px;
    border-radius: 31px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
}
.subscribe-btn{
    color: #fff;
    background: #F58A07;
    border-radius: 31px;
    padding: 18px 32px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.5s all;
}
.subscribe-btn:hover{
    background: #fff;
    color: #F58A07;
}
/* end of footer style */