/* start of header style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 16px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav>li{
    display: inline-block;
    padding: 18px 30px 18px 0px;
    color: #394149;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s all;
}
.header_nav>li:hover{
    color: #1671b1;
}
.nav-btn{
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s all;
}
.nav-btn:hover{
    background: #F58A07;
    color: #fff;
}
/* end of header style */
/* start of main style */
.header-section{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 127px;
}

.header-section_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-section_text>h1{
    color: #1D3444;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 24px;
}
.header-section_text>p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    width: 557px;
    margin-bottom: 24px;
}
.view-btn{
    color: #fff;
    background: #F58A07;
    border-radius: 31px;
    padding: 18px 32px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.5s all;
}
.view-btn:hover{
    background: #fff;
    color: #F58A07;
}
.header-section_img{
    position: relative;
}
.header-section_img-bar{
    width: 180px;
    height: 650px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
}
.careers-section>h1{
    color: #0D1317;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 64px;
}
.careers-section{
    margin-bottom: 128px;
}
.career-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.career-card{
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}
.career-card-text{
    padding: 32px 130px 32px 40px;
}
.career-card-text>h1{
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}
.career-card-text>p{
    color: #394149;
    opacity: 0.6;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 32px;
}
.career-card-text>h2{
    color: #F58A07;
    font-weight: 400;
    font-size: 18px;
    transition: 0.3s all;
}
.career-card-text>h2:hover{
    color: #000;
    font-weight: 400;
    font-size: 18px;
}
.lastest-section{
    background: #DCEAF5;
    padding-bottom: 96px;
}
.lastest_section>h1{
    padding: 96px 0px  64px 0px;
    color: #0D1317;
    font-weight: 600;
    font-size: 48px;
}
.blog-items{
    display: flex;
    justify-content: space-between;
}
.blog-item{
    background: #FFFFFF;
    border-radius: 20px;
    width: 400px;
    filter: grayscale(100%);
    transition: 0.5s all;
}
.blog-item:hover{
    filter: grayscale(0%)
}
.blog-item_text{
    padding: 32px;
}
.blog-item_text>h1{
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
    
}
.blog-item_text>p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 28px;
}
.blog-item-btn{
    color: #F58A07;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s all;
}
.blog-item-btn>img{
    transition: 0.3s all;
}
.blog-item-btn>img:hover{
    padding-left: 20px;
}
/* end of main style*/
/* start of footer style */
footer{
    background: #063255;
    height: 463px;
    position: relative;
}
.shape-left{
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-radius: 0px 20px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.shape-right{
    width: 53px;
    height: 287px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 38px;
    right: 0;
}
.footer-top{
    padding: 80px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-left>h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    margin: 32px 0;    
}
.social{
    color: #fff;
    font-size: 20px;
    width: 136px;
    display: flex;
    justify-content: space-between;
}
.company>h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}
.list>ul, li{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: 0.2s all;
}
.list>ul{
    margin-top: 32px;
}
.list>ul>li{
    padding-bottom: 16px;
}
.list>ul>li:hover{
    color: #1671b1;
}
.connect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.connect>h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 32px;
}
.connect>a{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.subscribe>h1{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 24px;
}
.input>input{
    background: #fff;
    padding: 18px 188px 18px 32px;
    border-radius: 31px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
}
.subscribe-btn{
    color: #fff;
    background: #F58A07;
    border-radius: 31px;
    padding: 18px 32px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.5s all;
}
.subscribe-btn:hover{
    background: #fff;
    color: #F58A07;
}
/* end of footer style */