/* start of header style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 16px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav>li{
    display: inline-block;
    padding: 18px 30px 18px 0px;
    color: #394149;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s all;
}
.header_nav>li:hover{
    color: #1671b1;
}
.nav-btn{
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s all;
}
.nav-btn:hover{
    background: #F58A07;
    color: #fff;
}
/* end of header style */