/* start of header style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 16px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav>li{
    display: inline-block;
    padding: 18px 30px 18px 0px;
    color: #394149;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s all;
}
.header_nav>li:hover{
    color: #1671b1;
}
.nav-btn{
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s all;
}
.nav-btn:hover{
    background: #F58A07;
    color: #fff;
}
/* end of header style */
/* start of main style */
.header-section{
    display: flex;
    justify-content: space-between;
    margin: 96px 0px 90px 0px;
}
.header-section_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-section_text>h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1D3444;
    margin-bottom: 24px;
}
.header-section_text>p{
    width: 510px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 32px;
}
.header-section_img{
    position: relative;
}
.header-section_img-bar{
    width: 180px;
    height: 650px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
}
.feature-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}
.feature-1_img{
    position: relative;
}
.feature-1_img-bar{
    width: 97px;
    height: 97px;
    position: absolute;
    left: -48.5px;
    top: 128px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.feature-1_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 96px;
}
.feature-1_text>h1{
    color: #0D1317;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 24px;
}
.feature-1_text>p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
}
.feature-list{
    margin-left: 20px;
}
.feature-list>.feature-li{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    list-style-type: disc;
}
.feature-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}
.feature-2_img{
    position: relative;
}
.feature-2_img-bar{
    width: 97px;
    height: 97px;
    position: absolute;
    right: -48.5px;
    top: 272px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.feature-2_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 96px;
}
.feature-2_text>h1{
    color: #0D1317;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 24px;
}
.feature-2_text>p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
}
.feature-3_img-bar{
    width: 97px;
    height: 97px;
    position: absolute;
    left: -48.5px;
    top: 217px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.feature-4_img-bar{
    width: 97px;
    height: 97px;
    position: absolute;
    right: -48.5px;
    top: 272px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.feature-5_img-bar{
    width: 97px;
    height: 97px;
    position: absolute;
    left: -48.5px;
    top: 342px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.video-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-left>h1{
    color: #0D1317;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    width: 550px; 
    margin-bottom: 24px;  
}
.person{
    display: flex;
    justify-content: flex-start;
}
.video-left>p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    width: 550px;
    margin-bottom: 40px;
}
.about-person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 24px;
}
.about-person>h1{
    color: #063255;
    font-weight: 500;
    font-size: 24px;
}
.about-person>h2{
    color: #F58A07;
    font-weight: 500;
    font-size: 18px;
}
.video-img{
    position: relative;
}
.play-icon{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
/* end of main style*/
/* start of footer style */
footer{
    background: #063255;
    height: 463px;
    position: relative;
}
.shape-left{
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-radius: 0px 20px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.shape-right{
    width: 53px;
    height: 287px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 38px;
    right: 0;
}
.footer-top{
    padding: 80px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-left>h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    margin: 32px 0;    
}
.social{
    color: #fff;
    font-size: 20px;
    width: 136px;
    display: flex;
    justify-content: space-between;
}
.company>h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}
.list>ul, li{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: 0.2s all;
}
.list>ul{
    margin-top: 32px;
}
.list>ul>li{
    padding-bottom: 16px;
}
.list>ul>li:hover{
    color: #1671b1;
}
.connect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.connect>h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 32px;
}
.connect>a{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.subscribe>h1{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 24px;
}
.input>input{
    background: #fff;
    padding: 18px 188px 18px 32px;
    border-radius: 31px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
}
.subscribe-btn{
    color: #fff;
    background: #F58A07;
    border-radius: 31px;
    padding: 18px 32px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.5s all;
}
.subscribe-btn:hover{
    background: #fff;
    color: #F58A07;
}
/* end of footer style */